{
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.rs",
			"options": {
				"plugins": ["prettier-plugin-rust"]
			}
		}
	]
}
